<%= form_for(legal_person) do |f| %>
  <% if legal_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(legal_person.errors.count, "error") %> prohibited this legal_person from being saved:</h2>

      <ul>
      <% legal_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :CNPJ %>
    <%= f.text_field :CNPJ %>
  </div>

  <div class="field">
    <%= f.label :fantasy_name %>
    <%= f.text_field :fantasy_name %>
  </div>

  <div class="field">
    <%= f.label :references %>
    <%= f.text_field :references %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
