<p id="notice"><%= notice %></p>

<h1>Legal People</h1>

<table>
  <thead>
    <tr>
      <th>Cnpj</th>
      <th>Nomefantasia</th>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @legal_people.each do |legal_person| %>
      <tr>
        <td><%= legal_person.cnpj %></td>
        <td><%= legal_person.nomefantasia %></td>
        <td><%= legal_person.person.nome %></td>
        <td><%= link_to 'Show', legal_person %></td>
        <td><%= link_to 'Edit', edit_legal_person_path(legal_person) %></td>
        <td><%= link_to 'Destroy', legal_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Legal Person', new_legal_person_path %>
