<p id="notice"><%= notice %></p>

<p>
  <strong>Cnpj:</strong>
  <%= @legal_person.cnpj %>
</p>

<p>
  <strong>Nomefantasia:</strong>
  <%= @legal_person.nomefantasia %>
</p>

<p>
  <strong>Person:</strong>
  <%= @legal_person.person %>
</p>

<%= link_to 'Edit', edit_legal_person_path(@legal_person) %> |
<%= link_to 'Back', legal_people_path %>
