<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @person.nome %>
</p>

<p>
  <strong>Tipopessoa:</strong>
  <%= @person.tipopessoa %>
</p>

<p>
  <strong>Telefonefixo:</strong>
  <%= @person.telefonefixo %>
</p>

<p>
  <strong>Telefonecelular:</strong>
  <%= @person.telefonecelular %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
